<span ng-switch="ef.editingList">
    <form ng-switch-when="true">
        <input type="text" ng-model="ef.listName">
        <button class="btn btn-success" ng-if="ef.editingList" ng-click="ef.saveNewName()">Save</button>
        <button class="btn btn-warning" ng-if="ef.editingList" ng-click="ef.reset()" uib-tooltip="Restore the list name"
                tooltip-trigger="'mouseenter'">Reset</button>
    </form>

    <span ng-switch-default ng-click="ef.getList(ef.listName)">{{ef.listName | upperFirst}} &nbsp;</span>
</span>

<span class="glyphicon glyphicon-pencil text-primary" ng-click="ef.editList(ef.listName)"
      ng-if="!ef.editingList">&nbsp;</span>
<span class="glyphicon glyphicon-remove-circle text-danger" ng-click="ef.removeList(ef.listName)"
      ng-if="!ef.editingList" uib-tooltip="Eliminate {{ef.listName}}!!!" tooltip-trigger="'mouseenter'"></span>